:root {
  --bg: #3b251e;
  --fg: #fe7b10;
}

@font-face {
  font-family: "PrintChar21";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/PrintChar21.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
  color: var(--fg);
}

body,
p,
pre,
h1,
ul,
li,
input,
button {
  font-family: "PrintChar21", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

body,
a {
  color: var(--fg);
  text-decoration: none;
  border-bottom: 2px solid var(--fg);
}
a:active {
  background: var(--fg);
  color: var(--bg);
}

h1,
p,
pre,
li {
  margin-bottom: 1rem;
}
h1 {
  display: inline-block;
  background: var(--fg);
  color: var(--bg);
}

ul {
  list-style-type: none;
}
li:before {
  content: "* ";
}

/* Try to prevent a flash of content before the main UI loads */
body.loading {
  background: #000;
}
body.loading .content {
  display: none;
}

body.original {
  width: auto;
  padding: 2rem;
  font-size: 18px;
}

body.simple {
  background-image: url(../assets/screen-only.jpg);
  background-size: cover;
  box-shadow: 0px 0px 20rem 5rem rgba(0, 0, 0, 0.4) inset;
  display: flex;
  flex-direction: column;
}
body.simple main {
  flex: 1;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
body.simple main .heading {
  display: inline-block;
  background: var(--fg);
  color: var(--bg);
  font-style: normal;
}
body.simple main .input {
  font-weight: bold;
}
body.simple form {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 1rem;
}
body.simple input {
  min-width: 0;
  background: transparent;
  border: 2px solid var(--fg);
  color: var(--fg);
  border-radius: 0;
  padding: 1rem;
  flex: 1;
}
body.simple button {
  background: var(--fg);
  color: var(--bg);
  border: none;
  padding: 0.66rem 1.33rem;
}

body.fancy canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}
body.fancy .go-simple {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: var(--bg);
  padding: 0.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 2rem;
  text-align: center;
  background: var(--bg);
  border: 2px solid var(--fg);
}

.modal-content > * + * {
  margin-top: 2rem;
}