:root {
  --bg: #3b251e;
  --fg: #e06b0b;
}

@font-face {
  font-family: 'PrintChar21';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/PrintChar21.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--fg);
}

body,
input,
button {
  font-family: 'PrintChar21', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

body,
a {
  color: var(--fg);
}
a:hover {
  text-decoration: none;
}

body.noscript {
  padding: 2rem;
  font-size: 18px;
}

body.simple {
  background-image: url(../assets/screen-only.jpg);
  box-shadow: 0px 0px 20rem 5rem rgba(0, 0, 0, 0.4) inset;
  display: flex;
  flex-direction: column;
}
body.simple main {
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
}
body.simple main .heading {
  display: inline-block;
  background: var(--fg);
  color: var(--bg);
  font-style: normal;
}
body.simple main .input {
  font-weight: bold;
}
body.simple form {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 1rem;
}
body.simple input {
  min-width: 0;
  background: transparent;
  border: 2px solid var(--fg);
  color: var(--fg);
  border-radius: 0;
  padding: 1rem;
  flex: 1;
}
body.simple input:focus {
  outline: none;
}
body.simple button {
  background: var(--fg);
  color: var(--bg);
  border: none;
  padding: 0.66rem 1.33rem;
}

body.fancy canvas {
  width: 100%;
  height: 100%;
}

/* h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 100;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  #content {
    width: auto;
    margin: 20px;
  }
  h1 {
    font-size: 30px;
  }
  li {
    display: block;
  }
}
@media (max-height: 414px) {
  h1 {
    font-size: 20px;
  }
  body {
    font-size: 14px;
  }
  li {
    margin-bottom: 10px;
  }
} */
